
@model SimulacaoUsuario

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="prazo-pretendido">
                    <div class="box-desc">
                        <h2 class="title-page">
                            <img src="images/calendar.svg" alt="">
                            Prazo pretendido
                        </h2>
                                              
                        <div class="box-number orange">
                            <input type="text" class="number" id="meses" value="@Model.QtdParcelas" disabled>
                            <label for="meses">/MESES</label>
                        </div>

                        <div class="valor">                           
                            <div class="box-number orange">
                                <label for="valorTotal">Valor total à pagar</label>
                                <input type="text" class="number" id="valorTotal" data-mask="money" value="@Model.ValorSimulado" disabled>
                            </div>

                            <div class="box-number orange">
                                <label for="qtdParc">Quantidade de parcelas</label>
                                <input type="text" class="number" id="qtdParc" value="@Model.QtdParcelas" disabled>
                                <label for="valorParc">Valor parcela mansal </label>
                                <input type="text" class="number" id="valorParc" data-mask="money" value="@Model.ValorParcelas" disabled>
                            </div>
                            <div class="box-number orange">
                                <label for="porcentagemPretendida">Custo juros mensal </label>
                                <input type="text" class="number" id="porcentagemPretendida" data-mask="money" value="@Model.CustoEfetivoMensal">
                            </div>

                        </div>
                    </div>
                    <div class="box-interesse">
                        <img src="images/interesse.svg" alt="" class="icon">

                        <h2 class="title-page">Confirme aqui seu interesse</h2>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="interesse" id="sim" value="sim" onclick="SalvarSimulacao()">
                            <label class="custom-control-label" for="sim">Sim, estou interessado</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="interesse" id="nao" value="nao" onclick="VoltarIndex()">
                            <label class="custom-control-label" for="nao">Não tenho interesse</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">



    function SalvarSimulacao() {

        $.ajax({
            url: '@Url.Action("SalvarSimulacao", "CalcEmprestimos")',
            type: 'POST',
            data: {
                "ValorPretendido": $("#valor-pretendido").val(),
                "ValorSimulado": $("#valorTotal").val(),
                "QtdParcelas": $("#qtdParc").val(),
                "ValorParcelas": $("#valorParc").val(),
                "CustoEfetivoMensal": $("#porcentagemPretendida").val()
            },
            success: function (response) {
                $("#PartView").html(response);
            },
            error: function (error) {
                $("#AlertView").html("<h1><font color='red'>Ocorreu um erro! </font></h1>");
                setTimeout(function () { window.location.href = '@Url.Action("Index", "Home")'; }, 3000);
            }
        });
    }

    function VoltarIndex() {
        $("#AlertView").html("<h1><font color='red'>Simulação descartada. voltando a Index</font></h1>");
        setTimeout(function () { window.location.href = '@Url.Action("Index", "Home")'; }, 3000);
    }
</script>
