@model BaseCalcViewModel
@{
    ViewData["Title"] = "Calculadora de Empréstimos";
}

<main class="page" id="emprestimo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-title">
                        <h1 class="title">Valor pretendido em R$:</h1>

                        <div class="numbers">
                            <div class="box-number orange">
                                <input type="text" class="number" min="@Model.ValorMinimo" id="valor-pretendido" data-mask="money" required>
                            </div>

                            <div class="box-number orange-border">
                                <span class="desc">Valor Minímo</span>
                                <span class="number">@Model.ValorMinimo</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-green" onclick="CalculaValor()">Calcular</button>
                    </div>

                    <div class="prazo-meses">
                        <div class="box-title">
                            <h2 class="title">Selecione o prazo desejado:</h2>
                        </div>
                        <div class="box-text">
                            <h2 class="title-page">
                                <img src="images/calendar.svg" alt="">
                                Prazo em meses
                            </h2>

                            <p class="item limite-valor d-none">Limite de crédito:</p>
                            <p class="item item-mb limite-valor d-none">Valor da parcela:</p>
                            <p class="item">Custo efetivo ao mês:</p>
                        </div>

                        <div class="prazos">
                            <div class="box-select">
                                <input type="radio" name="prazo-mes" id="6-meses" value="6">
                                <label class="content" for="6-meses">
                                    <div class="mes">
                                        <span class="num">6</span>/Meses
                                    </div>

                                    <div class="number white limite-valor d-none">
                                        <span class="desc">Limite de crédito:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden-white.svg" alt=""></div> <span class="total" value="R$ @Model.LimiteCredTotal6"></span></span>
                                    </div>

                                    <div class="number limite-valor d-none">
                                        <span class="desc">Valor da parcela:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden.svg" alt=""></div> <span class="total">6x de: <br>R$ <span id="parcela6" value="R$ @Model.ValorParcelaCred6"></span></span></span>
                                    </div>

                                    <div class="number orange">
                                        <span class="desc">Custo efetivo ao mês:</span>
                                        <span class="value">2,8%</span>
                                    </div>
                                </label>
                            </div>
                            <div class="box-select">
                                <input type="radio" name="prazo-mes" id="12-meses" value="12">
                                <label class="content" for="12-meses">
                                    <div class="mes">
                                        <span class="num">12</span>/Meses
                                    </div>

                                    <div class="number white limite-valor d-none">
                                        <span class="desc">Limite de crédito:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden-white.svg" alt=""></div> <span class="total" value="R$ @Model.LimiteCredTotal12"></span></span>
                                    </div>

                                    <div class="number limite-valor d-none">
                                        <span class="desc">Valor da parcela:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden.svg" alt=""></div> <span class="total">12x de: <br><span id="parcela12" value="R$ @Model.ValorParcelaCred12"></span></span></span>
                                    </div>

                                    <div class="number orange">
                                        <span class="desc">Custo efetivo ao mês:</span>
                                        <span class="value">1,90%</span>
                                    </div>
                                </label>
                            </div>
                            <div class="box-select">
                                <input type="radio" name="prazo-mes" id="24-meses" value="24">
                                <label class="content" for="24-meses">
                                    <div class="mes">
                                        <span class="num">24</span>/Meses
                                    </div>

                                    <div class="number white limite-valor d-none">
                                        <span class="desc">Limite de crédito:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden-white.svg" alt=""></div> <span class="total" value="R$ @Model.LimiteCredTotal24"></span></span>
                                    </div>

                                    <div class="number limite-valor d-none">
                                        <span class="desc">Valor da parcela:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden.svg" alt=""></div> <span class="total">24x de: <br><span id="parcela24" value="R$ @Model.ValorParcelaCred24"></span></span></span>
                                    </div>

                                    <div class="number orange">
                                        <span class="desc">Custo efetivo ao mês:</span>
                                        <span class="value">1,85%</span>
                                    </div>
                                </label>
                            </div>
                            <div class="box-select">
                                <input type="radio" name="prazo-mes" id="36-meses" value="36">
                                <label class="content" for="36-meses">
                                    <div class="mes">
                                        <span class="num">36</span>/Meses
                                    </div>

                                    <div class="number white limite-valor d-none">
                                        <span class="desc">Limite de crédito:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden-white.svg" alt=""></div> <span class="total" value="R$ @Model.LimiteCredTotal36"></span></span>
                                    </div>

                                    <div class="number limite-valor d-none">
                                        <span class="desc">Valor da parcela:</span>
                                        <span class="value"><div class="icon"><img src="images/hidden.svg" alt=""></div> <span class="total">36x de: <br><span id="parcela36" value="R$ @Model.ValorParcelaCred36"></span></span></span>
                                    </div>

                                    <div class="number orange">
                                        <span class="desc">Custo efetivo ao mês:</span>
                                        <span class="value">1,64%</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="prazo-pretendido" style="display:none">
                        <div class="box-desc">
                            <h2 class="title-page">
                                <img src="images/calendar.svg" alt="">
                                Prazo pretendido
                            </h2>

                            <div class="mes">
                                <span class="num" value="" id="qtdMes"></span>/Meses
                            </div>

                            <div class="valor">
                                <div class="box-num green">
                                    <span class="number" id="valor-total" value=""></span>
                                </div>
                                <div class="box-calc">
                                    <span class="number" id="qtdParc" value=""></span>
                                    <span class="number" id="valor-Parc" value=""></span>
                                </div>
                                <div class="box-num orange">
                                    <span class="number" id="porcentagemPretendida" value=""></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-interesse">
                            <img src="images/interesse.svg" alt="" class="icon">

                            <h2 class="title-page">Confirme aqui seu interesse</h2>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="interesse" id="sim" value="sim">
                                <label class="custom-control-label" for="sim">Sim, estou interessado</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="interesse" id="nao" value="nao">
                                <label class="custom-control-label" for="nao">Não tenho interesse</label>
                            </div>
                        </div>
                    </div>

                    <div class="custo-efetivo">
                        <h2 class="title-page">Composição do custo efetivo</h2>

                        <table class="no-border">
                            <tr>
                                <td>Taxa de juros:</td>
                                <td><span class="orange">1,2%</span> ao mês</td>
                            </tr>
                            <tr>
                                <td>Taxa de administração:</td>
                                <td><span class="orange">2,5%</span> na concessão + <span class="orange">0,1%</span> ao mês sobre o saldo devedor</td>
                            </tr>
                            <tr>
                                <td>Taxa de juros:</td>
                                <td><span class="orange">0,38%</span> na concessão + <span class="orange">0,0082%</span> ao dia sobre o saldo devedor (limitado a 365 dias)</td>
                            </tr>
                        </table>
                    </div>

                    <div class="condicoes">
                        <p class="text-page">
                            As <strong>condições finais</strong> serão informadas no momento da assinatura do contrato. <br>
                            O programa de empréstimos será implantado somente caso haja interesse de pelo menos 200 participantes, que solicitem crédito total de no mínimo R$ 5 milhões.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('input:radio[name="interesse"]').change(SalvarSimulacao($(this).val()));
        $('input:radio[name="prazo-mes"]').change(CalculaValor());
    });

    function SalvarSimulacao(e) {
        if (e == 'sim') {
            AjaxRequest({
                url: '@Url.Action("SalvarSimulacao", "CalcEmprestimos")',
                type: 'POST',
                data: {
                    "ValorPretendido": $("#valor-pretendido").val(),
                    "ValorSimulado": $("#valor-total").val(),
                    "QtdParcelas": $("#qtdParc").val(),
                    "ValorParcelas": $("#valor-Parc").val(),
                },
                success: function (response) {
                    Notify("success", 'Simulação armazenada com sucesso!');
                    window.location.href = '@Url.Action("Index", "Home")';
                },
                error: function (error) {
                    Notify("danger", error.statusText);
                }
            });
        }
        else 
             window.location.href = '@Url.Action("Index", "Home")';
    }

    function CalculaValor() {
        var prazoMes = document.querySelector('input[name="prazo-mes"]:checked').value;
        var taxa;
        if (prazoMes == 6)
            taxa = 2.8;
        else if (prazoMes == 12)
            taxa = 1.9;
        else if (prazoMes == 24)
            taxa = 1.85;
        else
            taxa = 1.64;

        AjaxRequest({
             url: '@Url.Action("CalculaValor", "CalcEmprestimos")',
             type: 'POST',
             dataType: 'JSON',
             data: {
                 "ValorPretendido": $("#valor-pretendido").val(),
                 "qtdMes": prazoMes,
                 "taxaMensal": taxa
             },
             success: function (response) {
                 Notify("success", 'Simulação realizada!');

                 $("#valor-total").html(response.ValorSimulado);
                 $("#qtdMes").html(response.QtdParcelas);
                 $("#qtdParc").html(response.QtdParcelas);
                 $("#valor-Parc").html(response.ValorParcelas);
                 $("#porcentagemPretendida").html(response.CustoEfetivoMensal);
                 
                 document.getElementsByClassName('prazo-pretendido').style.display = 'block';
             },
             error: function (error) {
                 Notify("danger", error.statusText);
             }
        });
    }

</script>